<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482222108966-oqim0ljp43j65rjsvom6isqv5m27o4ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482222108966-oqim0ljp43j65rjsvom6isqv5m27o4ih</string>
	<key>API_KEY</key>
	<string>AIzaSyCZHtuHnZmHxiPzUg7aBA-a2TSu0UOdHug</string>
	<key>GCM_SENDER_ID</key>
	<string>482222108966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.inventoryManager</string>
	<key>PROJECT_ID</key>
	<string>inventoriesmanager</string>
	<key>STORAGE_BUCKET</key>
	<string>inventoriesmanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482222108966:ios:0c1a6e6615b68449e611e7</string>
	<key>DATABASE_URL</key>
	<string>https://inventoriesmanager-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>